/*
	Theme Name: Barebones
	Version: 1.2
*/

@import url("css/normalize.css");
@import url("css/grid.css");

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

ul, ol {
	list-style-type: none;
	margin: 0em;
	padding-left: 0em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}

.row.equal-height-cols {
	display: table;
	width: 100%;
}

.row.equal-height-cols > [class*="col-"] {
	display: table-cell;
	float: none;
}
